*.bak
*~
*.obj
*.sbr
*.la
*.lo
*.lib
*.idb
*.dep
*.manifest
*.dll
*.exp
BuildLog.htm
.deps
.libs
*.user
*.pdb
*.gz
*.7z
*.rar
*.diff
*.bsc
*.o
libsundown.so*
sundown
libupskirt.so*
upskirt
smartypants
*.exe
mvc/2008/ipch
mvc/2008/bin
mvc/2008/obj
mvc/2010/ipch
mvc/2010/bin
mvc/2010/obj
mvc/2012/ipch
mvc/2012/bin
mvc/2012/obj
*.suo
*.ncb
*.sdf
*.opensdf
*.vcxproj.user
*.vcproj.*
