*.bak
*~
*.obj
*.sbr
*.la
*.lo
*.lib
*.idb
*.dep
*.manifest
*.dll
*.exp
BuildLog.htm
.deps
.libs
*.user
*.pdb
*.gz
*.7z
*.rar
*.diff
*.bsc
*.o
libsundown.so*
sundown
libupskirt.so*
upskirt
smartypants
*.exe
mvc/ipch
mvc/bin
mvc/obj
*.suo
*.ncb
*.sdf
*.opensdf
*.vcxproj.user
*.vcproj.*
