*.bak
*~
*.obj
*.sbr
*.la
*.lo
*.lib
*.idb
*.dep
*.manifest
*.dll
*.exp
BuildLog.htm
*.log
*.tlog
*.lastbuildstate
.deps
.libs
*.user
*.pdb
*.gz
*.7z
*.rar
*.diff
*.bsc
*.o
libsundown.so*
sundown
libupskirt.so*
upskirt
smartypants
*.exe
mvc/2008/ipch
mvc/2008/bin
mvc/2008/obj
mvc/2010/ipch
mvc/2010/bin
mvc/2010/obj
mvc/2012/ipch
mvc/2012/bin
mvc/2012/obj
mvc/2013/ipch
mvc/2013/bin
mvc/2013/obj
mvc/2019/.vs
/mvc/2019/Debug-*/
/mvc/2019/Release-*/
*.suo
*.ncb
*.sdf
*.opensdf
*.vcxproj.user
*.vcproj.*
build/
*.o
*.obj
*.exe
*.aux
scidown
scidown.dll
scidown.exp
scidown.lib
smartypants
libscidown.so*
libscidown.a
*.out
*.gz
*.toc
*.log
*~
*.sublime-project
*.sublime-workspace
